--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
opencv-python-headless
torch
torchvision
numpy
mediapipe
requests
Pillow
deepface
tensorflow
scikit-image
psutil
